@using Buscanime.Models;

@model VoiceActorDetail;

<h2 class="font-weight-light">Voice Actor / @Model.name</h2>
<hr>

<div class="row">
    <div class="col-4">
        <img src="@Model.image_url" alt="voice actor image" class="img-fluid" style="width: 225px; height: 350px; object-fit: contain;">
    </div>
    <div class="col-8">
        <p class="text-justify">
            @Model.about
        </p>
    </div>
</div>
